%div
  =form_for @user, url: signup_index_path, method: :post do |f|
    %table.signup-table
      %caption
        登録情報の確認
      %tr
        %th
          お名前
        %td
          = session[:name]
      %tr
        %th
          Eメール
        %td
          = session[:email]
      %tr
        %th
          パスワード  
        %td
          = session[:password]
      %tr
        %th
          性別
        %td
          = session[:sex]
      %tr
        %th
          年齢  
        %td
          = session[:age]
      %tr
        %th
          都道府県
        %td
          = Prefecture.find(session[:prefecture_id]).name
    .signup-btns
      = link_to :back do
        %button
          戻る
      = f.button "登録する", type: "submit"
