.new-user
  = render "shared/header"
  = form_for @user, url: step2_signup_index_path, method: :get do |f|
    %table.signup-table
      %caption
        ユーザー登録
      %tr
        %th
          お名前
        %td
          = f.text_field :name, autofocus: true, autocomplete: "name", maxlength: "8", placeholder: "8文字以内" 
      %tr
        %th
          Eメール
        %td
          = f.email_field :email, autocomplete: "email"
      %tr
        %th
          パスワード  
        %td
          = f.password_field :password, autocomplete: "new-password", maxlength: "12", placeholder: "英数字6文字以上12文字以内"
      %tr
        %th
          パスワードの確認 
        %td
          = f.password_field :password_confirmation, autocomplete: "new-password"
      %tr
        %th
          性別
        %td
          = f.label :sex, :"男性"
          = f.radio_button :sex, :"男性"
          = f.label :sex, :"女性"
          = f.radio_button :sex, :"女性"
          = f.label :sex, :"その他"
          = f.radio_button :sex, :"その他"
      %tr
        %th
          年齢  
        %td
          = f.select :age, options_for_select(User.ages.keys), {}, class: "select-default"
      %tr
        %th
          都道府県
        %td
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, class: "select-default"
    .signup-btns
      = f.button "クリア", type: "reset"
      = f.button "登録する", type: "submit"
