.article-show
  = render 'shared/header'

  .article-show__box
    .article-show__box__title
      = @article.title
    .article-show__box__image
      %ul
        - @article.images.each do |image|
          %li
            = image_tag(image)
    .article-show__box__text
      = @article.text
    -if @article.id == current_user.id
      .article-show__box__edit
        %ul
          %li
            = link_to '編集', root_path
          %li
            = link_to '削除', root_path
    .article-show__box__nice
      .article-show__box__nice__btn
        -if current_user.already_niced?(@article)
          = button_to 'いいねを取り消す', article_nice_path(@article), method: 'delete'
        -else
          = button_to 'いいね', article_nices_path(@article)
      .article-show__box__nice__user
        - @article.niced_users.each do |user|
          = user.name
