.user-index
  = render 'shared/header'

  .user-index__box
    .user-index__box__title
      %p.user-index__box__title__text
        ユーザー一覧
    .user-index__box__select
      %ul.user-index__box__select__lists
        %li.user-index__box__select__lists__image
          %p
            アイコン
        %li.user-index__box__select__lists__name
          %p
            ユーザー名
        %li.user-index__box__select__lists__name
          %p
            性別
        %li.user-index__box__select__lists__name
          %p
            年齢
        %li.user-index__box__select__lists__prefecture
          %p
            都道府県
      -@users.each do |user|
        %ul.user-index__box__select__lists
          %li.user-index__box__select__lists__image
            - if user.image.attached?
              = image_tag(user.image, id: "user-image")
            - else
              = image_tag("user_no-image.png", id: "user-image")
          %li
            = link_to user.name, user_path(user.id)
          %li
            = link_to user.sex, root_path
          %li
            = link_to user.age, root_path
          %li
            = link_to user.prefecture.name, root_path
    = paginate(@users)
  .footer
  -# #map
  -# %script{src: "https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=" + Rails.application.credentials.dig(:google, :google_api_key).to_s + "&callback=initMap", async: "", defer: "defer"} }
