.user-show
  = render 'shared/header'

  .user-show__box
    .user-show__box__left
      .user-show__box__left__user
        .user-show__box__left__user__image
          -if @user.image.attached?
            = image_tag(@user.image)
          -else
            = image_tag("user_no-image.png")
        .user-show__box__left__user__name
          = @user.name
        .user-show__box__left__user__sex
          %p
            性別：
          .user-show__box__left__user__sex__text
            = @user.sex
        .user-show__box__left__user__age
          %p
            年齢：
          .user-show__box__left__user__age__text
            = @user.age
        .user-show__box__left__user__prefecture
          %p
            都道府県：
          .user-show__box__left__user__prefecture__text
            = @user.prefecture.name
        .user-show__box__left__user__profile
          %p
            自己紹介
          .user-show__box__left__user__profile__text
            = @user.profile
        .user-show__box__left__user__menu
          -if user_signed_in? && @user.id == current_user.id
            %ul
              %li
                = link_to edit_user_path(@user.id), id: "user-edit" do
                  .icon-user-edit
                  %p
                    編集
        .user-show__box__left__user__articles
          = link_to root_path, class: "user-box__follow__articles-link" do
            .icon-user-article
            %p
              = "articles: #{@user.articles.count}"
          = link_to root_path, class: "user-box__follow__nices-link" do
            .icon-nice-users
            %p
              = "nices: #{@user.niced_articles.count}"
        .user-show__box__left__user__follow
          = link_to following_user_path(@user), class: "user-box__follow__following-link" do
            .icon-following-users
            %p
              = "following: #{@user.following.count}"
          = link_to followers_user_path(@user), class: "user-box__follow__followers-link" do
            .icon-followers-users
            %p
              = "followers: #{@user.followers.count}"
        - if user_signed_in? && current_user != @user
          - if current_user.following?(@user)
            = form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: {method: :delete}) do |f|
              = f.submit 'フォロー取消', class: "btn unfollow"
          - else
            = form_for(current_user.active_relationships.build) do |f|
              %div= hidden_field_tag :followed_id, @user.id
              = f.submit "フォローする", class: "btn btn-primary"
    .user-show__box__right
      .user-show__box__right__info
        .user-show__box__right__info__tab-top
          .user-show__box__right__info__tab-top__wave#tab-top
            = image_tag("tab-top.svg")
        %ul.user-show__box__right__info__tab#tab-list
          %li.user-show__box__right__info__tab__menu.active#user-articles
            .user-show__box__right__info__tab__menu__circle
            .icon-user-article#tab-icon
            .user-show__box__right__info__tab__menu__articles#tab-articles-count
              = @user.articles.count
          %li.user-show__box__right__info__tab__menu#nice-users
            .user-show__box__right__info__tab__menu__circle
            .icon-nice-users#tab-icon
            .user-show__box__right__info__tab__menu__nices#tab-nices-count
              = @user.niced_articles.count
          %li.user-show__box__right__info__tab__menu#following-users
            .user-show__box__right__info__tab__menu__circle
            .icon-following-users#tab-icon
            .user-show__box__right__info__tab__menu__following#tab-following-count
              = @user.following.count
          %li.user-show__box__right__info__tab__menu#followers-users
            .user-show__box__right__info__tab__menu__circle
            .icon-followers-users#tab-icon
            .user-show__box__right__info__tab__menu__followers#tab-followers-count
              = @user.followers.count
      .user-show__box__right__view
        .user-show__box__right__view__list#tab-views
          %ul.user-show__box__right__view__list__articles#slide-lists
            - if @articles.present?
              - @articles.each do |article|
                %li.user-show__box__right__view__list__articles__show#slide-list
                  = link_to article_path(article.id) do
                    = image_tag(article.images[0])
                    .user-show__box__right__view__list__articles__show__created-at
                      .icon-calender
                      .user-show__box__right__view__list__articles__show__created-at__text
                        = article.created_at.strftime("%Y/%m/%d(%a)")
                    .user-show__box__right__view__list__articles__show__title
                      = article.title.truncate(15, ommision: "...")
                    %span.user-show__box__right__view__list__articles__show__line
                    .user-show__box__right__view__list__articles__show__user-name
                      = article.user.name
                    .user-show__box__right__view__list__articles__show__text
                      = article.text.truncate(75, ommision: "...")
                  .user-show__box__right__view__list__articles__show__nice#article-nice-box
                    - if user_signed_in? && article.user_id != current_user.id
                      - if current_user.already_niced?(article)
                        = button_to article_nice_path(article), method: 'delete', class: "nice-btn active" do
                          .icon-nice-btn
                      -else
                        = button_to article_nices_path(article), class: "nice-btn" do
                          .icon-nice-btn
                    -else
                      .icon-heart
                    .user-show__box__right__view__list__articles__show__nice__count
                      = article.nices.count
            - else
              .user-show__box__right__view__list__articles__no-show
                .user-show__box__right__view__list__articles__no-show__text
                  投稿した記事がありません
            - if @articles_count.count > 5
              .user-show__box__right__view__list__articles__paginate
                =paginate(@articles)
            .user-show__box__right__view__list__articles__btn
              .user-show__box__right__view__list__articles__btn__list#article-slide-btn-list
                - @user.articles.each_with_index do |article, index|
                  - if index < 5
                    .user-show__box__right__view__list__articles__btn__list__dot#user-article-slide-btn
                      - if index == 0
                        = link_to "#{index + 1}", "/" ,class:"target"
                      - else
                        = link_to "#{index + 1}", "/"
            - if @articles_count.count != 0 && @articles_count.count != 1
              .user-show__box__right__view__list__articles__prev#prev-btn
                .user-show__box__right__view__list__articles__prev__arrow
                .icon-left-arrow
              .user-show__box__right__view__list__articles__next#next-btn
                .user-show__box__right__view__list__articles__next__arrow
                .icon-right-arrow
          .user-show__box__right__view__list__nices#nices-box
            - if @user.niced_articles.present?
              .user-show__box__right__view__list__nices__exist
            - else
              .user-show__box__right__view__list__nices__not-exist
                .user-show__box__right__view__list__nices__not-exist__text
                  いいね！した記事はありません
          .user-show__box__right__view__list__following#following-box
            - if @user.following.present?
              %ul.user-show__box__right__view__list__following__exist
                - @user.following.each do |following|
                  = link_to user_path(following.id), data: {"turbolinks"=>false} do
                    %li.user-show__box__right__view__list__following__exist__list
                      .user-show__box__right__view__list__following__exist__list__left
                        .user-show__box__right__view__list__following__exist__list__left__image
                          -if following.image.attached?
                            = image_tag(following.image)
                          -else
                            = image_tag("user_no-image.png")
                      .user-show__box__right__view__list__following__exist__list__right
                        %ul.user-show__box__right__view__list__following__exist__list__right__top
                          %li.user-show__box__right__view__list__following__exist__list__right__top__name
                            = following.name
                          %li.user-show__box__right__view__list__following__exist__list__right__top__sex
                            = following.sex
                          %li.user-show__box__right__view__list__following__exist__list__right__top__age
                            = following.age
                          %li.user-show__box__right__view__list__following__exist__list__right__top__prefecture
                            = following.prefecture.name
                        .user-show__box__right__view__list__following__exist__list__right__bottom
                          .user-show__box__right__view__list__following__exist__list__right__bottom__profile
                            = following.profile
            - else
              .user-show__box__right__view__list__following__not-exist
                .user-show__box__right__view__list__following__not-exist__text
                  フォローしたユーザーはいません
          .user-show__box__right__view__list__followers#followers-box
            - if @user.followers.present?
              %ul.user-show__box__right__view__list__followers__exist
                - @user.followers.each do |follower|
                  = link_to user_path(follower.id), data: {"turbolinks"=>false} do
                    %li.user-show__box__right__view__list__followers__exist__list
                      .user-show__box__right__view__list__followers__exist__list__left
                        .user-show__box__right__view__list__followers__exist__list__left__image
                          -if follower.image.attached?
                            = image_tag(follower.image)
                          -else
                            = image_tag("user_no-image.png")
                      .user-show__box__right__view__list__followers__exist__list__right
                        %ul.user-show__box__right__view__list__followers__exist__list__right__top
                          %li.user-show__box__right__view__list__followers__exist__list__right__top__name
                            = follower.name
                          %li.user-show__box__right__view__list__followers__exist__list__right__top__sex
                            = follower.sex
                          %li.user-show__box__right__view__list__followers__exist__list__right__top__age
                            = follower.age
                          %li.user-show__box__right__view__list__followers__exist__list__right__top__prefecture
                            = follower.prefecture.name
                        .user-show__box__right__view__list__followers__exist__list__right__bottom
                          .user-show__box__right__view__list__followers__exist__list__right__bottom__profile
                            = follower.profile
            - else
              .user-show__box__right__view__list__followers__not-exist
                .user-show__box__right__view__list__followers__not-exist__text
                  フォロワーはいません