.user-show
  = render 'shared/header'

  .user-show__box
    .user-show__box__main
      .user-show__box__image
        -if @user.image.attached?
          = image_tag(@user.image)
        -if user_signed_in? && @user.id == current_user.id
          = form_with model: @user, local: true do |f|
            =f.file_field :image, accept: "image/jpeg, image/png"
            =f.submit '画像登録'
      .user-show__box__name
        = @user.name
      .user-show__box__prefecture
        = @user.prefecture.name
      .user-show__box__menu
        %ul
          %li
            = link_to '編集', root_path
          %li
            = link_to '削除', root_path
      .user-show__box__niced-articles
        - @user.niced_articles.each do |article|
          .user-show__box__niced-articles__container
            .article-view__box__title
              = article.title
            .article-view__box__image
              %ul
                - article.images.each do |image|
                  %li
                    = image_tag(image)
            .article-view__box__text
              = article.text
            -if user_signed_in? && article.id == current_user.id
              .article-view__box__edit
                %ul
                  %li
                    = link_to '編集', root_path
                  %li
                    = link_to '削除', root_path
        - @user ||= current_user
        .user-box__follow
          = link_to "following: #{@user.following.count}", following_user_path(@user), class: "user-box__follow__following-link"
          = link_to "followers: #{@user.followers.count}", followers_user_path(@user), class: "user-box__follow__followers-link"
        - if user_signed_in? && current_user != @user
          - if current_user.following?(@user)
            = form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: {method: :delete}) do |f|
              = f.submit 'Unfollow'
          - else
            = form_for(current_user.active_relationships.build) do |f|
              %div= hidden_field_tag :followed_id, @user.id
              = f.submit "Follow", class: "btn btn-primary"