.article-view
  .article-view__box
    -@articles.each do |article|
      .article-view__box__title
        %p
          = article.title
      .article-view__box__image
        %ul
          - article.images.each do |image|
            %li
              = image_tag(image)
      .article-view__box__text
        %p
          = article.text
      .article-view__box__edit
        %ul
          %li
            = link_to '編集', root_path
          %li
            = link_to '削除', root_path
