.article-view
  .article-view__box
    -@articles.each do |article|
      .article-view__box__title
        = article.title
      .article-view__box__image
        %ul
          - article.images.each do |image|
            %li
              = image_tag(image)
      .article-view__box__text
        = article.text
      -if user_signed_in? && article.id == current_user.id
        .article-view__box__edit
          %ul
            %li
              = link_to '編集', root_path
            %li
              = link_to '削除', root_path
      .article-view__box__more
        = link_to '続きを読む', article_path(article.id)
