.main-header
  .main-header__images#slide
    %ul
      %li
        = image_tag("fuji.jpg")
      %li
        = image_tag("nagoya-TVtower.jpg")
      %li
        = image_tag("sapporo-tokeidai.jpg")
  #button
    %ul.image-buttons
      %li
        = link_to "1", "/", class: "target"
      %li
        = link_to "2", "/"
      %li
        = link_to "3", "/"
  .main-header__menu-box#header-nav
    %ul.main-header__menu-box__ul
      %li.main-header__menu-box__ul__title
        %p.main-header__menu-box__ul__title__text
          = link_to root_path do
            %i.icon-map-marker
            GPS-Tweet
            %i.icon-map-marker
      %ul.main-header__menu-box__ul__lists
        - if user_signed_in?
          %li.main-header__menu-box__ul__lists__list
            %p.main-header__menu-box__ul__lists__list__text
              = link_to new_article_path do
                %i.icon-new-article
                投稿する
          %li.main-header__menu-box__ul__lists__list
            %p.main-header__menu-box__ul__lists__list__text
              = link_to destroy_user_session_path, method: 'delete' do
                %i.icon-sign-out
                ログアウト
          %li.main-header__menu-box__ul__lists__list
            %p.main-header__menu-box__ul__lists__list__text
              = link_to user_path(current_user) do
                %i.icon-user
                マイページ
          %li.main-header__menu-box__ul__lists__list#list-menu
            %p.main-header__menu-box__ul__lists__list__text
              = link_to root_path do
                %i.icon-bars
                = "#{current_user.name}さんのメニュー"
        - else
          %li.main-header__menu-box__ul__lists__list
            %p.main-header__menu-box__ul__lists__list__text
              = link_to step1_signup_index_path do
                %i.icon-new-user
                新規登録
          %li.main-header__menu-box__ul__lists__list
            %p.main-header__menu-box__ul__lists__list__text
              = link_to new_user_session_path do
                %i.icon-user
                ログイン
          %li.main-header__menu-box__ul__lists__list#list-menu
            %p.main-header__menu-box__ul__lists__list__text
              = link_to root_path do
                %i.icon-bars
                メニュー