.main-header
  .main-header__image
  .main-header__menu-box
    %ul
      %li
        %p
          = link_to 'GPS-tweet', root_path
      %li
        %p
          = link_to '投稿する', new_article_path
      %li
        %p
          = link_to '新規登録', new_user_registration_path
      %li
        %p
          = link_to 'ログイン', new_user_session_path
      %li
        %p
          = link_to 'ログアウト', destroy_user_session_path, method: 'delete'