.log-in
  .log-in__bg
    = image_tag('top-bg.jpg',class: "log-in-image")
  .log-in__title
    %h2 ログイン
  .log-in__mark
    .icon-user
  .log-in__bg-mark
    .icon-bg-pin
  .log-in__form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .log-in__form__email
        = f.label :email do
          .icon-email
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "e-mail"
      .log-in__form__password
        = f.label :password do
          .icon-password
        = f.password_field :password, autocomplete: "current-password",placeholder: "password"
      .log-in__form__btn
        = f.submit "ログイン", class: "log-in-btn"
      .log-in__form__test-log-in
        .log-in__form__test-email
          %input
        .log-in__form__test-password
          %input
        .log-in__form__test-submit
          = f.submit "簡単ログイン",class: "test-user-log-in-btn"


